@import "~bootstrap/dist/css/bootstrap.css";

/* MainPage Start */
.MainPage {
  padding: 24px;
  background-image: url(Images/backgroundImage.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: 100vh;
}
span {
  background-color: #eeffbbca;
  border-radius: 5px;
}
/* MainPage End */

/* Header Start */
.bold-large-text {
  font-weight: bold;
  font-size: 24px;
}
/* Header End */

/* hero-section Start */
.HeroSection__Button,
.menu-page__item-minus-button,
.menu-page__item-plus-button,
.menu-page__item-add-button {
  background: transparent;
  font-weight: bold;
  color: black;
}
.HeroSection__Button {
  background-color: #eeffbbca;
}
/* hero-section End */

/* menu-section Start */
.menu-section {
  margin-top: 10px;
}

/* menu-section End */

/* MenuPage Start */
.menu-page {
  padding: 24px;
  /* background-image: url(Images/backgroundImage.jpg); */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  min-height: 100vh;
}
.menu-page__content {
  display: flex;
  height: auto;
  align-items: stretch;
}
/* .equal-height-column {
  height: 4505px;
} */
.menu-page__item {
  display: flex;
  flex-direction: column;
  width: 216px;
  background-color: #eeffbbca;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin-bottom: 16px;
  /* height: 500px; */
}
.menu-page__item-image {
  width: 100%;
  height: 180px;
  object-fit: cover; /* Подгоняем изображения по размерам */
  border-radius: 8px;
}
.menu-page__item-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
}

.menu-page__item-description {
  text-align: center;
  margin-top: 8px;
  word-wrap: break-word;
}

.menu-page__item-counter {
  margin-top: auto;
}
/*
.menu-page__item-count {
  margin: 5px;
  width: 20px;
} 

.menu-page__item-add-button {
  align-self: self-end;
}*/
/* MenuPage End */
